<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
  <link href="/style.css" rel="stylesheet">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1> Today is
    <%= date %>
  </h1>
</body>

</html>
