* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* body { */
/*   height: 1200px; */
/* } */
/**/
/* .container { */
/*   display: flex; */
/*   justify-content: center; */
/* } */
/**/
/* .example { */
/*   display: flex; */
/*   justify-content: space-around; */
/**/
/*   width: 800px; */
/*   margin: 50px 0; */
/*   background-color: #d6e9fe; */
/* } */
/**/
/* .item img { */
/*   display: block; */
/* } */
/**/
/* .item-relative { */
/*   position: relative; */
/*   top: -20px; */
/*   /* bottom: 30px; */
*/
/*   left: -20px; */
/*   /* right: -30px */
*/
/* } */
/**/
/* .item-absolute { */
/*   position: relative; */
/*   top: 10px; */
/*   left: 10px; */
/* } */
/**/
/* .item-fixed { */
/*   position: fixed; */
/*   bottom: 0; */
/*   right: 0; */
/* } */

.box {
  display: inline-block;
  width: 200px;
  height: 50px;
  background: red;
  color: white;
  position: absolute;
}

#three {
  position: relative;
  top: 50px;
  left: 60px;
  background: blue;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: red;
}
