* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #5995da;
  height: 80px;
}

.header {
  background-color: #b2d6ff;
}

.content {
  background-color: #eaedf0;
  order: 2;
}

.sign-up {
  background-color: #d6e9fe;
  order: 1;
}

.feature-1 {
  background-color: #f5cf8e;
}

.feature-2 {
  background-color: #f09a9d;
}

.feature-3 {
  background-color: #c8c6fa;
}

/* Mobile Styles */
@media (max-width: 400px) {
  body {
    background-color: #f09a9d;
  }
}

/* Tablet Styles */
@media (min-width: 401px) and (max-width: 960px) {

  /* When it’s greater than 960px wide, yellow when it’s between 401px and 960px, and red when it’s less than 400px */
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
}

/* Desktop Styles */
@media (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }

  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }

  .header {
    height: 400px;
  }
}

.illustration img {
  width: 100%;
  /* When we specify 100% width on an image, it’ll assume we want to maintain its aspect ratio and calculate its height automatically */
  display: block;
}
